# development
.npmrc
.idea
.vscode
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.local
.secrets

# dependencies
/node_modules
**/node_modules

# production
**/build

# storyBook
/storybook-static
packages/core/coverage/

# e2e
/e2e/builds
/test-results
**/test-results
